.actorList {
  object-fit: cover;
  padding: 0;
   display: flex;
   flex-wrap: wrap;
 }

 .actorItem {
   width: 230px;
   padding-right: 10px;
 }

 .actorText {
   font-size: 13px;
   width: 207px;
   height: 32px;
    color: rgb(7, 131, 131);
 }