.detailsWrapper {
  display: flex;
}

.detailsDescription {
  padding-top: 150px;
}

.detailList {
      margin: 0;
}

.optionLink {
   text-decoration: none;
   color: black;
   transition: ease 0.3s;
}

.optionLink:hover {
  color: aquamarine;
}