.detailsWrapper {
  display: flex;
  margin-bottom: 120px;
}

.detailsDescription {
  padding-top: 120px;
      margin: 0;
}

.detailList {
      margin: 0;
}


.title {
  width: 400px;
}
.optionLink {
margin-right: 40px;
  text-transform: uppercase;
   text-decoration: none;
   color: black;
   transition: ease 0.3s;
}

.optionLink:hover {
  color: aquamarine;
}

.desc {
  width: 700px;
}

.genreList {
  display: flex;
  align-items: center;
  padding: 0;
}

.genreItem {
  padding-right: 7px;
}

.genreTitle {
  margin-right: 10px;
}

.genreText {
   color: rgb(7, 131, 131);
}

.backBtn {
  margin-top: 20px;
  margin-left: 40px;
  font-size: 14px;
  height: 30px;
  width: 90px;
  outline: 0;
  border: 0;
  border-radius: 10px;
  transition: ease 0.3s;
}

.backBtn:hover {
  color: aquamarine;
  background-color: black;
  cursor: pointer;
}