.trendigItem {
  width: 300px;
  margin-bottom: 47px;
  list-style: none;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 10px;
  cursor: pointer;
  transition: ease 0.3s;
      max-height: 330px;
}

.trendigItem:hover {
  -webkit-box-shadow: 0px 0px 26px 4px #070000;
  box-shadow: 0px 0px 26px 4px #070000;
}

.trendingTitle {
  font-size: 9px;
  font-weight: 400;
  text-align: center;
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #3f51b5;
  border-top-right-radius: 9px;
  border-top-left-radius: 9px;
  color: white;
}

.trendingImg {
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
}
.trendingList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
}

.optionLink {
  margin-right: 40px;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  transition: ease 0.3s;
}

.optionLink:hover {
  color: aquamarine;
}

.movieBtn {
  font-size: 14px;
  height: 30px;
  width: 90px;
  outline: 0;
  border: 0;
  border-radius: 10px;
    transition: ease 0.3s;
}
.movieBtn:hover {
    color: aquamarine;
    background-color: black;
    cursor: pointer;
}

.searchForm {

    margin-left: 40px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
 text-align: center;
}

.inputForm {
  padding-left: 21px;
    height: 30px;
      outline: 0;
    border: 0;
  border-radius: 10px;
  margin-right: 20px;
  margin-bottom: 10px;
  width: 300px;
}
.inputForm::placeholder {

  color: black;
}